<p>viajes-prov works!</p>
<p>toursxdep works!</p>
<div class="container-fluid px-5 py-5 ">
  <div class="row">
    <div class="col-md-3">
      <app-busquedavertical></app-busquedavertical>
    </div>
    <div class="col-md-9">
<!-- cuando no existe -->
<div class="row" *ngIf="!viajesByProv">
    <div class="jumbotron container-fluid text-center">
        <p><i class="fas fa-sync fa-spin fa-5x"></i></p>
        <h1 class="display-4">Buscando ... </h1>
    </div>
</div>
<!--  cuando es igual a cero-->
<!-- <div class="row" *ngIf="viajesByProv.length === 0">
    <div class="jumbotron container-fluid text-center">
        <p><i class="fas fa-cry  fa-5x"></i></p>
        <h1 class="display-4"> No se encontro Tours </h1>
    </div>
</div> -->



      <app-toptours [listaDeCards]='viajesByProv'></app-toptours>

    </div>
  </div>

</div>