
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Actualizar Producto </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre Producto" type="text" [(ngModel)]="Producto.prod_nom" name="nombre">
                      </mat-form-field>
                    </div>
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Precio Producto" type="text" [(ngModel)]="Producto.prod_prec" name="precio">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                          <select class="form-control form-control-sm" [(ngModel)]="Producto.prov_id" #valorProv>
                              <option [value]="provincias.prov_id"*ngFor="let provincias of provincia">  {{provincias.prov_id}} - {{provincias.prov_nom}} </option>
                            </select>
                      </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name Product
                                  </th>
                                  <th>
                                      Precio
                                  </th>
                                  <th>
                                    Provincia
                                </th>
                                  <th>
                                    Agregar Imagen
                                  </th>
                                  
                                  <th>
                                      Actualizar Product
                                  </th>
                                  <th>
                                      Eliminar Product
                                  </th>
                              </thead>
                              <tbody >
                                  <tr *ngFor="let producto of Producto">
                                      <td>
                                          {{producto.prod_id}}
                                      </td>
                                      <td>
                                          {{producto.prod_nom}}
                                      </td>
                                      <td>
                                        {{producto.prod_prec}}
                                      </td>
                                      <td>
                                          {{producto.prov_nom}}
                                      </td>
                                      <td>
                                        <button class="btn btn-secundary" disabled> Add Image </button>
                                      </td>
                                      <td class="text-primary">
                                          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Update </button>
                                      </td>
                                      <td class="text-primary">
                                        <button class="btn btn-danger" (click)="Delete(producto.prod_id)"> Delete </button>
                                     </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>
      </div>
  </div>
</div>
