  <div class="container my-5 busqueda bg-dark py-4">
    <div class="row">
      <div class="col-md-4 pl-4">
        <div class="form-group">
          <fieldset>
            <label class="control-label" for="inputDestino">Destino</label>
            <input class="form-control" id="inputDestino" type="" placeholder="Elige un destino...">
          </fieldset>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-group">
          <fieldset>
            <label class="control-label" for="inputFecha">Fecha inicio</label>
            <input type="datetime-local" class="form-control" id="inputFecha">
          </fieldset>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <fieldset>
            <label class="control-label" for="inputFecha">Fecha fin</label>
            <input type="datetime-local" class="form-control" id="inputFecha">
          </fieldset>
        </div>
      </div>
      
      <div class="col-md-2 text-center ">
        
          <a type="button" class="btn btn-primary text-center p-4" [routerLink]="['/tours']">BUSCAR</a>
        
      </div>
    </div>
  </div>

