<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-primary text-white">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Páginas</h5>
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-outline-light dropdown-toggle"
          data-toggle="dropdown"
          id="dropdownMenuButton"
          type="button"
        >
          <font style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;"
              >Registro para operadores turísticos</font
            ></font
          >
        </button>
        <a href="" routerLink="/home"class="text-white"><li>Inicio</li></a>
        <a href="" routerLink="/tours" class="text-white"><li>Tours</li></a>
        <a href="" class="text-white"><li>Tours por Ciudades</li> </a>
        <a href="" class="text-white"><li>Tours más comprados</li></a>
        <a href="" class="text-white"><li>Destino</li></a>
        <a href="" class="text-white"><li>Login</li></a>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">FACEBOOK</h5>

        <ul class="list-unstyled ">
          <li>
            <a href="#!" class="text-white"
              ><i class="fa fa-facebook-square"></i> PROJECTS</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="fa fa-facebook-square"></i> ABOUT US</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="fa fa-facebook-square"></i> BLOG</a
            >
          </li>
          <li>
            <a href="#!" class="text-white"
              ><i class="fa fa-facebook-square"></i> AWARDS</a
            >
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          </li>
          <li>
            <p>
              <a href="" class="text-white"
                ><i class="fas fa-envelope mr-3"></i> info@example.com</a
              >
            </p>
          </li>
          <li>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          </li>
          <li>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <ul class="list-unstyled ">
          <li>
            <p class="fb-ic">
              <a href="" class="text-white">
                <i
                  class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"
                >
                </i
              ></a>
            </p>
          </li>
          <li>
            <!-- Twitter -->
            <p class="tw-ic">
              <a href="" class="text-white"
                ><i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x">
                </i
              ></a>
            </p>
          </li>
          <li>
            <!-- Google +-->
            <p class="gplus-ic">
              <a href="" class="text-white"
                ><i
                  class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"
                >
                </i
              ></a>
            </p>
          </li>
          <li>
            <!--Instagram-->
            <p class="ins-ic">
              <a
                href="https://www.youtube.com/watch?v=rs6MYzrIvpc"
                class="text-white"
                ><i
                  class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"
                >
                </i
              ></a>
            </p>
          </li>
          <!-- <div class="mb-5 flex-center">               
                  
                </div> -->

          <!-- Twitter -->

          <!-- Google +-->

          <!-- Dribbble -->
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/">
      GestionaTours.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
