
<!-- formulario -->
<div class="container toptours mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          INGRESA TUS DATOS
        </div>
        <div class="card-body">
          <div class="form-row">
            <div class="col-3">
              <input type="text" class="form-control" placeholder="Nombre" />
            </div>
            <div class="col-3">
              <input type="text" class="form-control" placeholder="Apellido" />
            </div>
            <div class="col-3">
              <select class="form-control">
                <option>DNI</option>
                <option>Pasaporte</option>
                <option>Carnet de extranjería</option>
              </select>
            </div>
            <div class="col-3">
              <input
                type="text"
                class="form-control"
                placeholder="Nro. de Documento"
              />
            </div>
          </div>
          <div class="form-row mt-2">
            <div class="col-3">
              <input type="text" class="form-control" placeholder="Email" />
            </div>
            <div class="col-3">
              <input type="text" class="form-control" placeholder="Teléfono" />
            </div>
            <div class="col-3">
              <select class="form-control">
                <option value>Selecciona Región</option>
                <option value="1">Amazonas</option>
                <option value="93">Ancash</option>
                <option value="280">Apurimac</option>
                <option value="368">Arequipa</option>
                <option value="486">Ayacucho</option>
                <option value="610">Cajamarca</option>
                <option value="2406">Callao</option>
                <option value="751">Cusco</option>
                <option value="873">Huancavelica</option>
                <option value="976">Huánuco</option>
                <option value="1065">Ica</option>
                <option value="1114">Junín</option>
                <option value="1247">La Libertad</option>
                <option value="1343">Lambayeque</option>
                <option value="1385">Lima</option>
                <option value="1567">Loreto</option>
                <option value="1626">Madre de Dios</option>
                <option value="1641">Moquegua</option>
                <option value="1665">Pasco</option>
                <option value="1698">Piura</option>
                <option value="1771">Puno</option>
                <option value="1894">San Martin</option>
                <option value="1982">Tacna</option>
                <option value="2014">Tumbes</option>
                <option value="2031">Ucayali</option>
              </select>
            </div>
            <div class="col-3">
              <input type="text" class="form-control" placeholder="Dirección" />
            </div>
          </div>
          <div class="form-row mt-2">
            <div class="col-12">
              <input
                type="text"
                class="form-control"
                placeholder="Comentario (opcional)"
              />
            </div>
          </div>
          <div class="form-row mt-3 mb-4">
            <div class="form-check mt-3">
              <input class="form-check-input" type="checkbox" id="gridCheck" />
              <label class="form-check-label" for="gridCheck">
                Acepto los
                <a href=""
                  >Términos y Condiciones Generales del Portal Turismoi</a
                >
              </label>
            </div>
            <div class="form-check mt-3">
              <input class="form-check-input" type="checkbox" id="gridCheck2" />
              <label class="form-check-label" for="gridCheck">
                Acepto los
                <a href=""
                  >Términos y Condiciones Generales de contratación Turismoi -
                  Usuario</a
                >
              </label>
            </div>
          </div>
          <div class=" text-right mb-3">
            <a [routerLink]="['/factura']" class="btn btn-danger text-center">PROCEDER A PAGAR</a>
          </div>
          <div class="text-right">
            <img
              alt="Visa"
              height="15"
              src="./../../../assets/img/visa.png"
              title="Visa"
              width="28"
              class="loading"
              data-was-processed="true"
            />
            <img
              alt="Mastercard"
              height="22"
              src="./../../../assets/img/mastercard.png"
              title="Mastercard"
              width="28"
              class="loading"
              data-was-processed="true"
            />
            <img
              alt="American Express"
              height="14"
              src="./../../../assets/img/american.png"
              title="American Express"
              width="28"
              class="loading"
              data-was-processed="true"
            />
            <img
              alt="PayPal"
              height="18"
              src="./../../../assets/img/paypal.png"
              title="PayPal"
              width="52"
              class="loading"
              data-was-processed="true"
            />
            <img
              alt="BCP"
              height="14"
              src="./../../../assets/img/bcp.png"
              title="BCP"
              width="32"
              class="loading"
              data-was-processed="true"
            />
            <img
              alt="Interbank"
              height="16"
              src="./../../../assets/img/interbank.png"
              title="Interbank"
              width="60"
              class="loading"
              data-was-processed="true"
            />
            <img
              alt="Scotiabank"
              src="./../../../assets/img/scotiabank.png"
              title="Scotiabank"
              width="65"
              class="loading"
              data-was-processed="true"
            />
            <img
              alt="BBVA"
              src="./../../../assets/img/bbva.png"
              title="BBVA"
              width="30"
              class="loading"
              data-was-processed="true"
            />
            <img
              alt="PagoEfectivo"
              height="18"
              src="./../../../assets/img/pagoefectivo.png"
              title="PagoEfectivo"
              width="46"
              class="loading"
              data-was-processed="true"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-center">
          Autentica Reserva Nacional Pacaya Samiria
        </div>
        <div class="card-body">
          <h5 class="card-title">Fecha de partida</h5>
          <label for="">07/10/2019</label>
          <p></p>
          <div class="row display">
            <div class="col"><h3 class="text-primary bold">Total:</h3></div>
            <div class="col right"><h3>S/.</h3></div>
            <div class="col right"><h3 for="">999</h3></div>
          </div>
          <p>Monto referencial en dólares:</p>
        </div>
      </div>
    </div>
  </div>
</div>


