<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModal"
  *ngIf="!user"
>
  Login
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-primary" id="exampleModalLabel">
          Iniciar sesión
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
              />
            </div>
            <button class="btn btn-primary btn-block">
              <i class="fa fa-sign-out"></i>
              Log In
            </button>

            <div class="form-group form-check">
              <div class="row my-3">
                <div class="col-6">
                  <input
                    type="checkbox"
                    class="form-check-input "
                    id="exampleCheck1"
                  />
                  <label
                    class="form-check-label text-primary"
                    for="exampleCheck1"
                    >Recordar</label
                  >
                </div>
                <div class="col-6">
                  <a
                    href=""
                    class="st-link open-loss-password"
                    data-toggle="modal"
                    >¿Se te olvidó tu contraseña?
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <div class="text-center text-primary">
          <p>
            o continuar con
          </p>
        </div>
        <div class="row text-center">
          <div class="col-6">
            <button
              class="btn btn-danger btn-block"
              data-dismiss="modal"
              (click)="signInWithGoogle()"
            >
              <i class="fa fa-google"></i>
              Iniciar con Google
            </button>
          </div>
          <div class="col-6">
            <button
              class="btn btn-info btn-block"
              data-dismiss="modal"
              (click)="signInWithFB()"
            >
              <i class="fa fa-facebook"></i>
              Iniciar con Facebook
            </button>
          </div>
        </div>

        <!-- <button
          class="btn btn-primary btn-block"
          data-dismiss="modal"
          (click)="signOut()"
        >
          <i class="fa fa-sign-out"></i>
          Cerrar Sesión
        </button> -->

        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
          <button type="button" class="btn btn-primary">Guardar</button>
          <app-registrar></app-registrar>
        </div> -->
      </div>

      <div class="text-center text-primary">
        <p>¿No tiene una cuenta? <app-registrar></app-registrar></p>
      </div>
    </div>
  </div>
</div>
