<div class="container my-5">
  <div class="hoverable p-4">
    <div class="row">
      <div class="col-md-4 offset-md-1 mx-3 my-3">
        <div class="view overlay">
          <img
            src="https://turismoi.pe/uploads/photo/version2/photo_file/59583/optimized_17759981_1288270427925387_7152824868727961269_n.jpg"
            class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <div class="col-md-7 text-md-left ml-3 mt-3">
        <a href="#!" class="green-text">
          <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Volver</h6>
        </a>
        <h2 class="h2 mb-4">Cañon del Colca Full Day</h2>
        <p class="font-weight-normal">Actividades: <a><strong>Trekking</strong></a></p>
        <p class="font-weight-normal">Duración: <a><strong>1 Día</strong></a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <hr class="my-4 rgba-white-light">
        <h4 class="card-title h4">Descripción</h4>
        <p class="my-4 h6">Powerful and free Material Design UI KIT</p>
        <div class="row  ">
          <div class="col-md-12 pb-2">
            <p class="card-text">Visitaremos uno de los cañones más profundos y bellos del mundo en solo 1 día,
                    partiendo muy temprano del hotel.
                    Observaremos también el majestuoso vuelo de los cóndores y para relajarnos podremos visitar los baños termales
                    de Chacapi, cuyas aguas posee propiedades curativas.
                    Luego disfrutaremos de nuestro almuerzo para retornar a la Ciudad de Arequipa.
            </p>
          </div>
        </div>
        <hr class="my-4 rgba-white-light">

      </div>
      <div class="col-md-4">
        <div class="card  mb-3" style="max-width: 20rem;">
          <div class="bg-primary text-white card-header">Precio<h4 class="card-title">US$ 60.00</h4>
          </div>

          <div class="card-body">
            <div class="form-group">
              <label for="">Adultos</label>
              <input type="number" name="" id="" class="form-control st-input-number text-center text-dark"
                placeholder="1">
              <small id="helpId" class="text-muted">Mayores de 18 años</small>
            </div>
            <div class="form-group">
              <label for="">Niños</label>
              <input type="number" name="" id="" class="form-control st-input-number text-center" placeholder="0">
              <small id="helpId" class="text-muted">6-17 años</small>
            </div>
          </div>
          <a class="bg-primary text-white card-footer btn-dark">RESERVAR AHORA</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid toptours">
  <div class="container">
    
      <app-toptours></app-toptours>
    
  </div>
</div>
