<div class="container-fluid ">
  <div class="container py-5">
    <h1>Tours más populares</h1>
    <div class="row">

      <div class="col-md-3" *ngFor="let elemento of listaDeCards" (click)=verDetalle(elemento)>
        <div class="card">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><a [routerLink]="['/tour']">{{elemento.nombre}}</a><i
                class="fas fa-share-alt white-text "></i></h4>
            <p class="card-text">Actividades: {{elemento.actividades}}</p>

            <div>

              <p>{{elemento.prog_dura}}</p>
              <p>Desde</p>
              <p>s/. {{elemento.precio}}</p>

            </div>
            
          </div>
        </div>
      </div>

    



    </div>
  </div>
</div>
