<div class="col-md-12 bg-dark p-4">
  <div class="form-group">
    <fieldset>
      <label class="control-label" for="inputDestino">Destino</label>
      <input class="form-control" id="inputDestino" type="text" placeholder="Elige un destino...">
    </fieldset>
  </div>
   <div class="form-group">
    <fieldset>
      <label class="control-label" for="inputFecha">Fecha inicio</label>
      <input type="datetime-local" class="form-control" id="inputFecha">
    </fieldset>
  </div>
  <div class="form-group">
    <fieldset>
      <label class="control-label" for="inputFecha">Fecha fin</label>
      <input type="datetime-local" class="form-control" id="inputFecha">
    </fieldset>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary">BUSCAR</button>
  </div>
</div>
