<!-- inicio comentarios -->
<div class="container-fluid bg-primary text-white">
  <div class="container comentarios py-4">
    <h2 class="font-dark ">Lo que dicen de nosotros</h2>
    <div class="row rcomentarios text-center">
      <div class="col-md-4 ">
        <div class="comentsall row bg-white text-primary">
          <div class="col-md-4">
            <div class="testimonial">
            </div>
          </div>
          <div class="col-md-8">
            <div class="user-name">
              <p class="nombres">Julia Huber Song</p>
            </div>
          </div>
          <div class="comentario pt-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.cupiditate reiciendis quidem
              expedita pariatur blanditiis id voluptas numquam.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="comentsall row bg-white text-primary">
          <div class="col-md-4">
            <div class="testimonial2">
            </div>
          </div>
          <div class="col-md-8">
            <div class="user-name">
              <p class="nombres">George Lama Hills</p>
            </div>
          </div>
          <div class="comentario pt-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.cupiditate reiciendis quidem
              expedita pariatur blanditiis id voluptas numquam.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="comentsall row bg-white text-primary">
          <div class="col-md-4">
            <div class="testimonial3">
            </div>
          </div>
          <div class="col-md-8">
            <div class="user-name">
              <p class="nombres">Hans Soren Platers</p>
            </div>
          </div>
          <div class="comentario pt-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.cupiditate reiciendis quidem
              expedita pariatur blanditiis id voluptas numquam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin comentarios -->
</div>


