<p>actividades works!</p>

<div class="container">
  <div class="content-portfolio">
    <div class="container">
      <div class="col-md-12">
        <h1 class="">Actividades</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="portfolio-item">
            <!--                         <img src="./../../../assets/img/actividad-canotaje.jpg" class="img-responsive" alt="">
 -->
            <div class="title-act">
              <p>Canotaje</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="portfolio-item">
            <div class="title-act">
              <p>Canotaje</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="portfolio-item">
            <div class="title-act">
              <p>Canotaje</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="portfolio-item">
            <div class="title-act">
              <p>Canotaje</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
