<div class="container py-4 mb-4">
  <div class="content-portfolio">
    <div class="container">
      <div class="col-md-12">
        <h1 class="">Actividades</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- card -->
          <div class="card card-image fotociudad"
            style="background-image: url(https://turismoi.pe/uploads/photo/version2/photo_file/37828/optimized_Circuito_Tres_Reinas__8_.JPG);">
            <!-- Content -->
            <div class="text-white text-center align-items-center rgba-black-strong py-5 px-5  tourciudades">
              <div class="">
                
                <div class="categoria p-5">
                  <a class="btn-danger p-2 m-4">Trekking</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4">
          <!-- card -->
          <div class="card card-image fotociudad"
            style="background-image: url(https://turismoi.pe/uploads/photo/photo_file/24504/optimized_2725_04.JPG);">
            <!-- Content -->
            <div class="text-white text-center align-items-center rgba-black-strong py-5 px-5  tourciudades">
              <div class="">
                
                <div class="categoria p-5">
                  <a class="btn-danger p-2 m-4">Kayak</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
        <div class="col-md-4">
          <!-- card -->
          <div class="card card-image fotociudad"
            style="background-image: url(https://turismoi.pe/uploads/photo/photo_file/17231/optimized_1463_1.jpg);">
            <!-- Content -->
            <div class="text-white text-center align-items-center rgba-black-strong py-5 px-5  tourciudades">
              <div class="">
                
                <div class="categoria p-5">
                  <a class="btn-danger p-2">Paseo a Caballo</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </div>
  </div>
</div>