<div class="container">
<h1>Tours por ciudades</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
          alt="Card image cap">
          <a href="#" class="btn btn-primary">Button</a>
          <h4 class="card-title">Card title</h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
