<div class="container my-4 py-4">
  <h1>Tours por ciudades</h1>
  <div class="row">
    <div class="col-md-4">
      <!-- Card -->
      <div class="card card-image"
        style="background-image: url(https://turismoi.pe/uploads/photo/version2/photo_file/55048/home_4779-2.jpg);">

        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div class="">
            <div class="ciudad">
              <h3 class="text-success">Arequipa</h3>
            </div>
            <div class="cantidad">
              <p class="card-title pt-2"><strong>3</strong></p>
              <a class="btn-warning p-2">TOURS</a>
            </div>
          </div>
        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
    </div>

  </div>
</div>
