<div class="container my-4 py-4">
  <h1>Tours por ciudades</h1>
  <div class="row">
    <div class="col-md-4 ">
      <!-- Card -->
      <div class="card card-image fotociudad" style="background-image: url(https://turismoi.pe/uploads/photo/version2/photo_file/55048/home_4779-2.jpg);">
        <!-- Content -->
        <div class="text-white text-center align-items-center rgba-black-strong py-5 px-5  tourciudades" >
          <div class="">
            <div class="ciudad">
              <h3 class="text-white">Arequipa</h3>
            </div>
            <div class="categoria">
              <a class="btn-warning p-2 m-4">TOURS</a>
            </div>
          </div>
        </div>

      </div>
      <!-- Card -->
    </div>
    <div class="col-md-4">
      <div class="card card-image fotociudad"
        style="background-image: url(https://turismoi.pe/uploads/photo/version2/photo_file/46433/optimized_4260-1.jpg);">

        <!-- Content -->
        <div class="text-white text-center align-items-center rgba-black-strong py-5 px-5 tourciudades">
          <div class="">
            <div class="ciudad">
              <h3 class="text-white">Cusco</h3>
            </div>
            <div class="categoria">
              <a class="btn-warning p-2 m-4">TOURS</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-image fotociudad"
        style="background-image: url(https://turismoi.pe/uploads/photo/photo_file/15489/optimized_2166_01.JPG);">

        <!-- Content -->
        <div class="text-white text-center align-items-center rgba-black-strong py-5 px-5 tourciudades">
          <div class="">
            <div class="ciudad">
              <h3 class="text-white">Puno</h3>
            </div>
            <div class="categoria">
              <a class="btn-warning p-2 m-4">TOURS</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>